@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Satisfy');


// $header-font: ;
// $text-font: ;
$red: #A50104;
$white: #FFFBF9;
$black: #1E1E24;
$yellow: #EDCF6D;
$green: #669672;

body {
    background-color: $white;
    color: $black;
}

h1 {
    font-family: 'Satisfy', cursive !important;
    font-size: 80px !important;
    color: $red !important;
    margin: .1rem 0 1.68rem 3rem !important;
}

nav ul a {
    font-family: 'Oxygen';
}

h3{
    color: $green;
    font-family: 'Oxygen';

}

h4 {
    text-align: center;
    color: $green;
    font-weight: bold;
}

form {
    font-family: 'Oxygen', helvetica;
    font-size: 22px;
    font-weight: bold;
    // width: 30%;
    // margin-left: auto;
    margin-right: auto;
}

.list-restaurants {
    margin-left: 10%;
    // margin-right: 30%;
}

.btn {
    margin-right: auto;
    margin-left: auto;
}

.imageOne {
    background-image: url('../images/food1.jpg');
    width: 35%;
    background-repeat: no-repeat;
}


.centered {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    min-width: 30%;
}

.opaque {
    opacity: 0.4;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 80%;
}

.left-script {
    position: absolute;
    top: 37%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: $black;
    font-weight: bold;
}
.right-script {
    position: absolute;
    top: 37%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: $black;
    font-weight: bold;
}

.restList {
    list-style-type: none;
}

// .body-container {
//     width: 40%;
// }

.nav-wrapper {
background-color: $black !important;
height: 140% !important;
}
.white{
    background-color: $white !important;
}

.btn {
    cursor: pointer;
}

#makeReservation,
#checkIn {
    cursor: pointer;
}

.contain {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.form-text {
    font-size: 18px;
}

#inner-container {
    margin-left: 5em;
    width: 80%;
}