@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Satisfy');


// $header-font: ;
// $text-font: ;
$red: #A50104;
$white: #FFFBF9;
$black: #1E1E24;
$yellow: #EDCF6D;
$green: #669672;

body {
    background-color: $white;
    color: $black;
    font-family: 'Oxygen';
}

h1 {
    font-family: 'Satisfy', cursive !important;
    font-size: 80px !important;
    color: $red !important;
    margin: .1rem 0 1.68rem 3rem !important;
}

// nav ul a.btn {
//     font-family: 'Oxygen';
//     color: white !important;
// }

h3{
    color: $green;
    font-family: 'Oxygen';
    text-align: center;
}

h5 {color: $red;}

h6 {
    color: $green;
    font-weight: bold;
}

form {
    font-family: 'Oxygen', helvetica;
    font-size: 22px;
    font-weight: bold;
    // width: 30%;
    // margin-left: auto;
    margin-right: auto;
}

.list-restaurants {
    margin-left: 10%;
    // margin-right: 30%;
}


.nav-wrapper {
background-color: $white !important;
height: 140% !important;
}
.white{
    background-color: $white !important;
}

.btn, .reserve-btn {
    background-color: $green !important;
    cursor: pointer;
    margin-left: 85%;
    color: white;
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
}

.delete-reso,
.check-in,
.edit {
    cursor: pointer;
}

.form-text {
    font-size: 18px;
    font-family: 'Oxygen';
}


.profPic{
    height: 40px;
    width: 40px;
    align-self: center;
}

.scroll {
    overflow: scroll;
    height: 495px;
}

////////////////////////////// SNACK BAR

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    font-family: 'Oxygen';
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: $green; /* Black background color */
    color: $white; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


#juicebar {
    font-family: 'Oxygen';
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: $green; /* Black background color */
    color: $white; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#juicebar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}